﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/angular.js"></script>
    <script src="modules/app/app.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="MyController">
        <h1> Hello {{ clock }}! </h1>
    </div>

</body>
</html>